[2016-04-12 14:29] mjordan opened #1 "Add a query option to get PIDs of objects that have a specific datastream"
Something like `--with_dsid` would be useful.

[2016-05-03 03:13] mjordan opened #2 "push datastreams does not remove extension"
https://github.com/mjordan/islandora_datastream_crud/blob/7.x/includes/utilities.inc#L116 should use FILENAME, not BASENAME.

[2016-05-03 03:14] #2 closed

[2016-06-01 23:26] mjordan commented on #1
An object's dsids are listed in Solr's `fedora_datastreams_mt` field.

Use case for limiting PID list to objects that don't have a specific datastream: You have just done a batch ingest but the derivative generation phase of the ingest has failed for some reason. You could pull down all the PIDs for objects in a namespace that do not have a JP2 datastream (for example), push back the OBJs to trigg

[2016-06-02 00:01] mjordan commented on #1
Work done, will test and merge if it all works.

[2016-06-02 03:19] mjordan commented on #1
Closed with e1f4c1717e735e87589b7aad473790b4c9c4310b.

[2016-06-02 03:19] #1 closed

[2016-06-03 03:28] mjordan opened #3 "If an object does not have a datastream, say so, don't show an error"
The drush log shows `[error]` if a datastream doesn't exist. It should say that the datastream doesn't exist, not show an error. Perhaps a warning is OK, but it's not an error.

For example, if a PID list contained PIDs for collection objects, they will not have OBJ datastreams.

[2016-06-06 23:09] mjordan opened #4 "Add ability to regenerate derivatives"
This could be very useful. `islandora_do_derivatives()` looks like the function to call for each object.

[2016-06-10 17:37] #4 closed

[2016-07-05 16:00] mjordan commented on #3
`islandora_datastream_crud_fetch_datastreams` now produces the following drush log entries if an object does not have the specified datastream:

[code]

[2016-07-05 16:00] #3 closed

[2016-08-06 16:17] mjordan opened #5 "Add ability to fetch datastreams of a specific MimeType"
Solr contains a field that combines the datastream version, DSID, MIMETYPE property, e.g.:

`fedora_datastream_latest_MODS_MIMETYPE_ms`

A query like this:

`fedora_datastream_latest_MODS_MIMETYPE_ms:application/xml`

will retrieve all objects where the latest version of the MODS datastreams have a MimeType of 'application/xml`.

[2016-08-06 16:24] mjordan opened #6 "Add a "Pushing Datastreams" section to README"
Add a detailed "Pushing Datastreams" section to the README, like the existing "Fetching PIDS" section.

[2016-09-02 23:12] mjordan opened #7 "Fetching PID list using --namespace and --without_dsid fails"
`drush islandora_datastream_crud_fetch_pids --user=admin --without_dsid=TN --namespace=cfu-2 --pid_file=/tmp/cfu_no_tns.txt`

fetches 0 PIDs while

`drush islandora_datastream_crud_fetch_pids --user=admin --without_dsid=TN --collection=cfu-2:collection --pid_file=/tmp/cfu_no_tns.txt`

returns the expected number. They should fetch the same number of PIDs.

[2016-09-02 23:19] mjordan commented on #7
Woops, my mistake, I used the wrong namespace in my first command. Tested using the correct namespace and all is well.  Carry on.

[2016-09-02 23:19] #7 closed

[2016-09-06 18:17] mjordan opened #8 "Add option to fetch PIDs for objects with a specific datastream ID of a specific mimetype"
Useful to getting PIDs of objects that have datastreams with the wrong mime type. May as well throw in option to specify datastream label as well.

[2016-09-08 16:44] krebeck opened #9 "CRUD push creating new "MODS.xml" datastream rather than new version of MODS"
This is an issue first mentioned here:  https://groups.google.com/d/msg/islandora/q1udVKoh194/LELtH89uCAAJ

The exact workflow was to run the following:
_drush islandora_datastream_crud_fetch_pids --user=admin --collection=auislandora:5025 --pid_file=/tmp/child_slides.txt_

_drush islandora_datastream_crud_fetch_datastreams --user=admin --pid_file=/tmp/child_slides.txt --dsid=MODS --datastreams_di

[2016-09-08 16:46] mjordan commented on #9
Great, thanks. Possible to get some sample filenames for files in `/tmp/childslides` at the time you ran `islandora_datastream_crud_push_datastreams`?

[2016-09-08 16:51] krebeck commented on #9
I just updated with some sample file names in /tmp/childslides_modified

auislandora_11407_MODS.xml
auislandora_11408_MODS.xml
auislandora_11409_MODS.xml

Aaron Krebeck
Digital Services Librarian
Washington Research Library Consortium
301-390-2040

On Thu, Sep 8, 2016 at 12:46 PM, Mark Jordan notifications@github.com
wrote:

[2016-09-08 17:00] mjordan commented on #9
@krebeck I'll try to replicate and will report back. What commit are you running on?

[2016-09-08 17:08] krebeck commented on #9
commit 46cdcc9da506bbb5a25a97e737e038d9aa6432be
Author: Mark Jordan mjordan@sfu.ca
Date:   Tue Apr 12 14:50:31 2016 +0000

Aaron Krebeck
Digital Services Librarian
Washington Research Library Consortium
301-390-2040

On Thu, Sep 8, 2016 at 1:00 PM, Mark Jordan notifications@github.com
wrote:

[2016-09-08 17:18] mjordan commented on #9
Ah - the next commit, fd2f63dce2e8d21db0b6005e3c04f8dc7d707e2e, resolved #2, so that makes sense. Would you mind removing a couple of the unwanted MODS.xml datastreams, pulling in the latest chages to the CRUD code, and re-pushing the datastreams you removed? I recommend trying this on a small number, maybe just a couple, before going whole hog.

[2016-09-15 20:11] mjordan commented on #9
@krebeck just checking in to see if the problem still exists after you've pulled in the most recent code updates.

[2016-09-15 20:12] krebeck commented on #9
Sorry Mark, just getting around to this.  I have repeated the process in a
much smaller collection and it seems to be working great.  Thanks.  The
push created a new version of the MODS and it is the current version.

A

Aaron Krebeck
Digital Services Librarian
Washington Research Library Consortium
301-390-2040

On Thu, Sep 8, 2016 at 1:18 PM, Mark Jordan notifications@github.com
wrote:

[2016-09-15 20:29] mjordan commented on #9
Excellent, OK to close?

[2016-09-15 21:28] krebeck commented on #9
Sure thing. Go ahead.

[2016-09-19 18:52] #9 closed

[2016-09-22 12:52] DiegoPino opened #10 "Admin interface to allow to set which Solr field maps to which drush option"
Not all sites use _t suffix fields for datastreams, etc. So having the option to map which Solr field maps to which drush option would be excelent

[2016-09-23 16:00] mjordan commented on #10
@DiegoPino since this module only offers a drush interface, how would you envision implementing this? Or would adding a GUI be a better option, so the mappings persist across uses of the CLI?

[2016-09-23 16:07] DiegoPino commented on #10
@mjordan i would love and admin form to set this, even when drush. Even without UI access, having a form that uses drupal vars to define what Solr field you want to use could allow you to set those drupal vars via drush. E.g `drush vset islandora_datastream_crud_solr_dssource`
 And if you re ok, this issue will be accompanied by an pull request in the near future . My idea is to make use of Solr s

[2016-09-23 16:12] mjordan commented on #10
Indeed I am! PRs welcome!

[2016-09-23 16:27] mjordan commented on #5
Duplicate of #8.

[2016-09-23 16:27] #5 closed

[2016-09-23 16:28] mjordan commented on #8
Some additional detail is in #5.

[2016-11-08 02:34] mjordan opened #12 "fetch PIDs craps out on very large queries"
`islandora_datastream_crud_fetch_pids` queries that return very long lists of PIDS (e.g. hundreds of thousands of PIDs), particularly `--namespace` queries, crap out.

[2016-11-08 02:36] #12 closed

[2016-11-08 02:41] mjordan commented on #12
Tested successfully on the following querieis:

[code]

returns 33,248 PIDs.

[code]

returns 629,808 PIDs.

[2016-11-17 15:21] mjordan opened #14 "Write a helper script to produce a list of PID => local ID pairs"
Use case for this is that I have some files that are named using pre-ingest local IDs that I want to rename into the conventions used by Datastream CRUD (namespace_number_dsid.ext) so I can then push the files up into the corresponding objects as datastreams. SFU's specific use case is when we migrated from CONTENTdm, we didn't load the TIFF masters for some images because they were not available

[2016-11-17 15:26] mjordan commented on #14
Just occurred to me that getting the PID => ID pair could be accomplished by adding an option to `islandora_datastream_crud_fetch_pids` to add the value of a Solr field to the PID list. This is probably the better way to do it.

[2016-11-21 14:10] nate-rcl opened #15 "Duplicate obj created when mime type set and not different from current mime type"
When pushing datastreams, the current code will update the mime type if specified on command line even if it has the same mime type as the previous datastream it is replacing. This creates two different versions of the datastream instead of a single new version. It would be even better if both the content and mime type could be updated at once and then a single version inserted - however it does n

[2016-11-21 14:58] nate-rcl opened #17 "DC Datastream not updated from MODS when updating MODS datastream"
When updating datastreams if the datastream being updated is MODS it would seem like updating the DC by default would be a good idea by default.  Possibly adding a flag that turns this off might be needed but it would seem highly unusual to have a MODS file with metadata that does not match the DC metadata.

[2016-11-21 15:16] nate-rcl opened #18 "Default to add label if MODS or DC being ingested"
Would it make more sense to default to add new labels to objects when ingesting MODS or DC?  It would seem to be the more likely case that object titles should be updated rather than not updated when ingesting new MODS or DC metadata.

[2016-11-21 18:13] mjordan commented on #17
@nate-rcl agreed but some sites use metadata schemas [other than MODS](https://github.com/Islandora-Labs/islandora_ingest_forms). I think we do want to do what you describe by default but I do not have any good ideas for accommodating non-MODS datastreams.

[2016-11-21 18:14] mjordan commented on #18
@nate-rcl yes, that makes sense.

[2016-11-22 07:14] mjordan commented on #18
@nate-rcl https://github.com/mjordan/islandora_datastream_crud/pull/11 should do this already.

[2016-11-22 14:12] nate-rcl commented on #18
@mjordan correct - it does -  however you have to explicitly set the flag - I'm suggesting that there should be a Y/N option with the default to Y or have a flag to explicitly not updating the label rather than a flag for updating the label.  Currently if you forget to set the flag - which I did - you can import quite a few files without knowing that the labels will not be updated - even if they a

[2017-03-28 18:11] bondjimbond opened #20 "Add option to fetch PIDs etc for other kinds of parent object (beyond Collection)"
I'm trying to use islandora_datastream_crud to fix up some Newspaper Page objects where some failed to generate derivatives. Parent objects right now, as far as I can tell, require the Collection CModel. I would love to instead be able to use the parent newspaper (ufv:255) as a parameter in the command - i.e. rather than --collection=(whatever), something more general: --parent=ufv:255 (or even pa

[2017-03-28 18:20] mjordan commented on #20
I hadn't thought of that use case, but would a combination of `--content_model=islandora:newspaperPageCModel` and `--namespace=ufv` get you what you want?

[2017-03-28 18:22] mjordan commented on #20
You can also use arbitrary Solr queries to get a list of PIDS, using the `--solr_query` option. It hasn't been widely tested with complex queries but it's worth a try. How about:

`--solr_query="RELS_EXT_isMemberOf_uri_s:info\:fedora/ufv\:255"`

[2017-03-28 18:31] bondjimbond commented on #20
Yes, your first comment is my planned approach; should do the trick. But it would be a handy config option if you got the chance. Particularly in case of a collection having multiple different newspapers, and you only want to work with one newspaper's pages.

Also: just had a look at a Newspaper Page RELS-EXT. Turns out they are not members of collections, so you couldn't even narrow down if newsp

[2017-03-28 19:02] mjordan commented on #20
Problem is "parent" can mean several specific relationships in Islandora. In addition to isMemberOfCollection, we have:

* isMemberOf (newspaper pages)
* isConstituentOf (children of compound objects)

I'm not sure enhancing the `--parent` option would work without some inspection of content models. Maybe replace `--parent` with `--isMemberOfCollection`, `--isMemberOf`, and `--isConstituentOf`?

A

[2017-03-28 19:43] bondjimbond commented on #20
I like keeping it simple. An option for each relationship (isMemberOfCollection, isMemberOf, isConstituentOf) is good.

Also suggest keeping the commands simple, as is currently done with the "--collection" parameter.

Suggestions:
Collection: --collection
isMemberOf: --newspaper_parent, or --member_of
isConstituentOf: --compound_parent (or something like that)

If there are other kinds of CModels

[2017-03-28 19:49] mjordan commented on #20
Sounds good. Book pages also use isMemberOf.

I'll add these on the weekend. Thanks for opening this issue.

[2017-04-19 21:27] bondjimbond opened #21 ""Cancel" doesn't actually cancel in delete_datastreams"
Kind of a major issue...

When running islandora_datastream_crud_delete_datastreams, a warning comes up:

If you  choose "n", a message tells you "Exiting, no datastreams deleted" - but the datastreams are deleted regardless.

Sample command and output:

`brandonw@bceln2:/var/www/drupal7/sites$ drush islandora_datastream_crud_delete_datastreams -u 1 --dsid=PDF --pid_file=/var/www/drupal7/sites/new

[2017-04-25 17:53] mjordan commented on #21
Yikes. Thanks for catching this @bondjimbond. Looks like I need to explicitly `exit` [after calling](https://github.com/mjordan/islandora_datastream_crud/blob/7.x/islandora_datastream_crud.drush.inc#L403) the`drush_user_abort()` function despite this function's [documentation](http://www.drupalcontrib.org/api/drupal/contributions!drush!includes!drush.inc/function/drush_user_abort/7). Will fix toda

[2017-04-25 20:46] mjordan commented on #21
@bondjimbond I've pushed up a fix. Can you do a quick test on the issue-21 branch and if it works as expected now I'll merge it into 7.x.

[2017-04-27 20:42] bondjimbond commented on #21
Tested, seems to work. Mergeable!

I noticed some other weirdness, however. I first tried deleting the DC datastream from a set of objects; this led to an error:

So:
- Can't delete DC datastream; is this expected?
- "details below" doesn't print details below... appears to print a blank line where details should be.

[2017-04-27 20:46] mjordan commented on #21
'Tis merged. Thanks!

WRT deleting the DC datastream, as far as I know Fedora won't let you do that. DC is required by Fedora. I may be wrong, but if that's the case, Datastream CURD can't delete it. I'll have to look into the message, but it might be coming from upstream in Islandora and not the Datastream CRUD code. If that's the case, I have no control over it.

[2017-04-27 20:47] mjordan commented on #21
I'm going to close this issue since I've merged the fix. If I find that it's impossible to delete DC I'll update the README to that effect, and if I find that it is possible, I'll open a new issue. That OK?

[2017-04-27 20:47] #21 closed

[2017-04-27 20:48] mjordan commented on #20
Never did anything about this. Will do so however.

[2017-04-28 06:18] bondjimbond commented on #21
Problem is not with whether or not it can delete DC, just the error message (especially "Details below" with no details). Probably fine if it just says something like "DC datastream is required".

[2017-04-28 13:49] mjordan opened #23 "Disallow deletion of DC datastream"
Following up on #21, we should not allow users to delete the DC datastream.:

* https://wiki.duraspace.org/display/FEDORA38/Fedora+Digital+Object+Model says "Every Fedora digital object has one "DC" (Dublin Core) Datastream by default which is used to contain metadata about the object (and will be created automatically if one is not provided)."
* the Fedora admin client throws an error when you tr

[2017-04-28 14:03] mjordan commented on #23
@bondjimbond, care to test the issue-23 branch? If you specify DC as the datastream to delete, you get the message "DC is a required datastream and cannot be deleted." and drush exits.

[code]

[2017-05-04 18:10] bondjimbond commented on #23
Looks good to me!

[2017-05-04 18:13] bondjimbond opened #24 "Better error messages for failures (delete_datastreams, maybe others)"
In the delete_datastreams function, attempting to delete a datastream that doesn't exist gives an ambiguous error:

If the specified datastream doesn't exist, the message should say so. ("asdf datastream not found on object unbc:1")

[2017-05-04 20:01] mjordan commented on #24
Thanks, I'll take a look.

[2017-05-05 19:31] mjordan commented on #23
Thanks, merged with 4a250e96bc0afcc0563263037d5e621a6fe7c217.

[2017-05-05 19:31] #23 closed

[2017-05-22 18:07] bgilling opened #25 "Add --silent parameter for "silent mode""
This is for the web wrapper islandora_datastreams_io tool to be able to call islandora_datastream_crud commands without stalling because of the prompts to create folders, pushing datastreams to objects, regenerate derivatives, etc.

In all cases, when run with the --silent parameter, the assumed answer is to proceed.

I am going to make a pull request to merge our "uls_customizations" branch that

[2017-05-22 18:35] mjordan commented on #25
@bgilling Does using drush's `-y` option accomplish the same thing? E.g., `drush islandora_datastream_crud_fetch_datastreams --user=admin --pid_file=/tmp/imagepids.txt --dsid=MODS --datastreams_directory=/tmp/imagemods -y`? If so, we should stick with that, but if your `--silent` option does something else, let me know.

[2017-05-22 18:42] mjordan commented on #25
Just checked out https://github.com/ulsdevteam/islandora_datastreams_io. I'm going to give it a spin, but at first glance, it looks awesome!

[2017-05-22 19:12] wgilling commented on #25
Mark,

Using the "-y" switch seems to allow the same functionality, so it seems this pull request will not be needed.  I did not know that was a drush option.  I am replacing the "--silent" switch in my code with a "-y" for export / import and make sure it still works as expected.

Thanks for the tip on the "-y" switch.

Brian Gillingham

[2017-05-23 23:19] mjordan commented on #25
Brian, can I close this issue and associated PR?

[2017-05-24 00:12] wgilling commented on #25
Mark,

Yes indeed.  I modified my code to use the -y switch, so if you cloned it pull an update.

Let's go Pens! Game 6 tonight!  :)

Thanks!
Brian Gillingham

Sent from my Samsung phone

-------- Original message --------
From: Mark Jordan <notifications@github.com>
Date: 05/23/2017 7:20 PM (GMT-05:00)
To: mjordan/islandora_datastream_crud <islandora_datastream_crud@noreply.github.com>
Cc: Gillin

[2017-05-24 06:47] #25 closed

[2017-06-02 17:21] bondjimbond opened #27 "nohup support?"
For large CRUD processes (e.g. generate derivatives for 1600 objects), keeping the terminal open for the entire process to run is a bit much. I tried using nohup for the drush command, but that failed because of the confirmation line:

Is there a way to use nohup and include the "y" to confirm, or some other way around staying connected through the whole thing?

[2017-06-02 17:24] mjordan commented on #27
Try drush's `-y` option, e.g., `drush islandora_datastream_crud_push_datastreams -y --user=admin --datastreams_mimetype=image/jpeg --datastreams_source_directory=/tmp/imagemods_modified --datastreams_crud_log=/tmp/crud.log`

[2017-06-02 17:27] bondjimbond commented on #27
Good idea! Wish I'd tried that before just hitting "y" with the terminal open.

I elected to cancel and try that way... Fingers crossed. If it works, would it be a good idea to document the -y option for nohup users?

[2017-06-02 17:38] mjordan commented on #27
Done, at the end of the "Usage" section in the README.

[2017-06-02 17:57] bondjimbond commented on #27
Great stuff! Thanks. My CRUD operation is running smoothly right now.

[2017-06-02 17:57] #27 closed

[2017-06-02 18:00] mjordan commented on #27
Super.

[2017-06-07 21:15] mjordan opened #28 "Add script to do a simple search and replace in text datastreams"
For fixing values in MODS, etc.

[2017-06-08 03:30] mjordan commented on #28
Closed with 98c93c18905529335fefa550a408bf87cb5853ca.

[2017-06-08 03:30] #28 closed

[2017-06-08 03:37] mjordan opened #29 "Add option to query for PID ranges"
E.g., `--pid_range=<1000`, '--pid_range=>1000`, `--pid_range=1000-2000`.

[2017-06-08 04:06] mjordan commented on #29
Queries like `PID:[islandora\:110 TO islandora*]` don't work, probably because the end of the range is open ended. Queries like `PID:[islandora\:110 TO islandora\:9999999]` and `PID:[islandora\:0 TO islandora\:117]` do work however.

[2017-06-08 19:26] bgilling opened #30 "Does not import any PID that contain period characters"
In the code before it calls the islandora_datastream_crud_dsfilename_to_pid function, the php pathinfo function is used to get the datatream ID value for later in the islandora_datastream_crud_push_datastream code.  This will damage the $ds_filename variable for use in the  islandora_datastream_crud_dsfilename_to_pid function because it calls pathinfo on the $ds_filename value, but if the PID actu

[2017-06-08 20:05] mjordan commented on #30
PR #32.

[2017-06-09 13:43] mjordan opened #33 "PIDs with _ in them result in are not round tripable"
It is valid for a PID to contain an underscore after the `:`. In PIDs that contain an underscore after the `:`, the function that converts datastream fileanames back into PIDs (`islandora_datastream_crud_dsfilename_to_pid`) returns the wrong PID. For example,  the PID `crud:foo_5` will result in the MODS ds filesname `crud_foo_5_MODS.xml`, and will be converted back into the PID `crud:5`.

Since h

[2017-06-09 13:44] mjordan commented on #30
@bgilling while looking at your code I found #33, which is not related to your code but has been a longstanding bug. I'm happy to merge your PR once you confirm that it solves the problem with periods (which I can't really verify).

[2017-06-09 14:31] mjordan opened #34 "Add ability to update object label without pushing any datastream files"
Coming out of discussion at https://groups.google.com/forum/#!msg/islandora/JvJ3BbG6kro/7BD9kpQ3BAAJ, Datastream CRUD should provide a way to update object labels without having to push a DC or other datastream.

[2017-06-11 17:07] mjordan commented on #30
Resolved with e92d398c64899b3302b19d2a84086e87cee255d4.

[2017-06-11 17:07] #30 closed

[2017-06-12 15:14] mjordan commented on #34
I've got a basic implementation working. So far I have:

`drush islandora_datastream_crud_update_object_properties --user=admin --pid_file=/tmp/update_these_objects.txt` with options:

* `--owner`
* `--state`
* `--update_object_label_from_dc`
* `--update_object_label_from_mods`

However, I need some use cases to help us decide how to handle repeated title elements, and subelements. For the "update

[2017-06-12 15:40] petermacdonald commented on #34
The only subelement of <titleInfo> we use is in or MODS records for Islandora is <title>.  So we would be satisfied with making the label from just the <title>.

[2017-06-12 15:42] markpbaggett commented on #34
This is tricky.  Currently, we handle updating fgsLabel with a little script post MODS replacement because of this exactly.  With form builder, we can control what goes to fgsLabel project to project, form to form, via the whole associate process, but I can say that our data dictionary / metadata mapping allows curators and metadata people / catalogers to do a lot of different things that makes th

[2017-06-13 01:29] wjlevay commented on #34
We do use `<nonSort>` for articles, but I'd be fine with excluding articles from the object labels. We also use `<subTitle>`, but again I'd be fine with excluding those from the labels.

We would also want to exclude any alternative titles from making their way into the label. Here's a real use case:

     <titleInfo>
          <title>Burned district San Francisco</title>
     </titleInfo>
     <t

[2017-06-13 13:57] mjordan commented on #34
Nice set of use cases emerging! I think the best way to allow the user to determine what the source of the "label" is is to allow passing in an XPath expression as a drush option. It's ugly but it's no worse than passing regexes into `sed`.

So instead of the two drush options I named above:

* `--update_object_label_from_dc`
* `--update_object_label_from_mods`

we provide one, `--update_object_la

[2017-06-13 23:07] wjlevay commented on #34
Sounds good to me. Looking forward to testing this out. Thanks, Mark!

[2017-06-14 03:39] mjordan commented on #34
To test the label updating (and also owner and state updating), do the following:

1. Check out the issue-34 branch.
1. Load a few test objects.
1. Pull down the MODS datastreams for those objects (e.g., `drush islandora_datastream_crud_fetch_datastreams --user=admin --pid_file=/tmp/issue-34.pids --dsid=MODS --datastreams_directory=/tmp/issue34mods`)
1. Edit the title element of each MODS file.
1.

[2017-06-14 14:49] mjordan commented on #6
We've already got a pretty fulsome "Effects of pushing datastreams" section, so I'm closing this for now.

[2017-06-14 14:52] mjordan commented on #18
@nate-rcl I'm not sure if you've seen the discussion going on at #34, but I've added an option to generate object labels from a specific datastream using an entirely new command (`islandora_datastream_crud_update_object_properties`). Your use case is to not have to remember to set the `--update_object_label` flag, but with the ability to run a separate command to achieve the same ends where you pr

[2017-06-14 15:27] nate-rcl commented on #18
@mjordan I did take a quick look - I'm not sure I quite understand - why would need to run two commands now to do the same thing that one command did? I would just expect it to grab the titles from the default source and stick them in the other metadata source.

Also for multiple titles - why would you separate them by a "/". All mods and dc fields are repeatable. I would expect them to go int mul

[2017-06-14 17:26] mjordan commented on #18
@nate-rcl thanks for the feedback.

Totally valid question. Couple answers:

1. To be able to address more use cases. All three of the use cases provided in #34 use MODS, not DC, and SFU has a repo that doesn't even use MODS, it uses DDI as its canonical metadata datastream. Right now, the implementation in the issue-34 branch only allows specifying either MODS or DC as the source DSID, but I'm go

[2017-06-14 17:29] mjordan commented on #34
I completely admit that concatenating multiple strings with ` / ` is not going to please everyone. I'm happy to add an additional option, something like `--implode_string` or `--concat_string` to allow you to pass in your own string.

[2017-06-14 17:49] nate-rcl commented on #18
@mjordan sounds good and thanks for the explanation - we manipulate on the search and front end. I think I understand what you mean now - the label is separate from the titles - which is kind of weird. Not sure why this is. We do separate our titles with a comma.

We display all of our metadata from the solr metadata index. Here is an example of a record with 2 titles (you'll have to scroll down t

[2017-06-14 17:57] mjordan commented on #18
The label being separate from the title is weird, but I think it's correct to say that the label is an object property (it's actually represented in Islandora code as `$object->label`) that is required by Fedora, whereas the "title" we think of is just a value from a datastream like MODS. To make matters even more confusing, the two get conflated in the dc:title element, since that is where Fedora

[2017-06-14 20:09] calhist commented on #34
Works as expected! Thanks again -- this is very helpful.

Note: Since I also have in my MODS a `<relatedItem>` like so:

     <relatedItem type="host">
          <titleInfo>
               <title>Los Angeles: 1932-33</title>
          </titleInfo>
          ...
     </relatedItem>

I changed my source_xpath to `/mods:mods/mods:titleInfo[not(@type='alternative')]/mods:title`

-Bill Levay @wjlevay

[2017-06-14 20:29] mjordan commented on #34
@wjlevay Thanks very much for testing. I'll wait for a bit more feedback before merging into 7.x.

[2017-06-14 21:44] mjordan opened #35 "Add a pull request template and CONTRIBUTING.md"
Like other repos have.

[2017-06-14 21:58] mjordan commented on #29
I'm now wondering if instead of providing shortcuts to do queries we should just document a bunch of different types of queries under the "Fetching PIDs" section.

[2017-06-14 23:21] mjordan commented on #29
Another useful query: get all objects that have the word "sample" in the `mods_note_t` field:

[code]

The PID range query from the previous comment can be used like this:

[code]

[2017-06-15 01:10] mjordan commented on #35
Closed with b80c0cb84f8e04e71bb35962f381604f0d192ae0.

[2017-06-15 01:10] #35 closed

[2017-06-15 13:50] wgilling commented on #33
Since we have a lot of objects with custom PID values, I wanted to test the version of the code that was fixed for #30 - I suspected that the change to the code would not address the underscore issue, but I figured that I could test it.

The PID values that I exported MODS for were:
pitt:MSP301_B003_F002_I16
pitt:200907.____.01260
pitt:PSS_028_B001_F006_I017

These were saved in files named:
pitt_

[2017-06-15 14:14] mjordan commented on #33
@bgilling thanks, it does, since it confirms the bug and also confirms a real use of `_` in PIDs. My approach to solving this issue so far is to allow the user (that would be you in this case!) to supply a string via a drush option (`--filename_separator` or something) to use to use as a seprator between the two halves of the PID (one before the `:` and one after) and before the DSID in the filena

[2017-06-15 14:42] mjordan commented on #18
@nate-rcl thanks for the use cases and comments. I'll close this issue and link from there to #34 for future reference

[2017-06-15 14:42] #18 closed

[2017-06-15 14:43] mjordan commented on #34
@nate-rcl provided some thoughtful comments and questions in #18 that are relevant to this issue.

[2017-06-15 14:52] markpbaggett commented on #34
@mjordan, haven't had a chance to test this yet, but thanks again for your work on this.  I expect your solution for my problem will work perfectly.

[2017-06-15 14:52] mjordan commented on #34
Just pushed up to improvements:

* new drush option `--concat_string`, which allows you to specify what string to use to join concatenated / repeated strings into your object labels. Default is a single space. Thanks @nate-rcl for the feedback.
* you can now use any datastream, not just MODS and DC, as the source for labels.

[2017-06-15 14:52] mjordan commented on #34
@markpbaggett no problem and good to hear you'll find it useful.

[2017-06-15 15:04] mjordan commented on #14
@giancarlobi's PR at #19 is related to this.

[2017-06-15 15:36] wgilling commented on #33
This seems like the absolute way to control this... especially considering that datastreams can also contain the underscore character (doesn't RELS-EXT get renamed to RELS_EXT in the system).

I assume that the code for import and export functions would assume a working default value for this filename_separator variable as an underscore.

This change would certainly require an addition to the READ

[2017-06-15 15:50] mjordan commented on #33
I'll make sure to check that.

Yes.

Agreed

Will do thanks! I'll likely ask you to test when I have something.

[2017-06-19 16:40] alehman-loc commented on #17
I am also using this module to update MODS datastreams for DPLA aggregation and need to trigger a standard DC update for consistency/display.  Even if you don't accommodate other "custom" datastreams and crosswalks, this seems like the normal functioning in Islandora: when you update MODS it updates the DC.

Thanks so much for your time on this Mark, it's already saving me loads of work!!

[2017-06-19 16:49] mjordan commented on #17
@amandarl thanks for the input, I'll revisit this in light of recent work done on #34 (and some discussion in #18), where we accommodate non-MODS source datastreams for updating the object label. However, IIRC regenerating DC is a bit tricky if the site uses nonstandard XSLT (i.e., not the standard LoC XSLT) to generate the DC. I'll take a look.

[2017-06-20 17:14] mjordan commented on #34
I'd like to merge this into 7.x unless anyone has any objections.

[2017-06-20 17:30] nate-rcl commented on #34
@mjordan +1

[2017-06-21 21:42] mjordan commented on #17
There are three places where the Library of Congress MODS-to-DC stylesheet exists:

* islandora_xml_forms/builder/transforms/mods_to_dc.xsl
* islandora_batch/transforms/mods_to_dc.xsl
* islandora_importer/xsl/mods_to_dc.xsl

They're all identical (on the Vagrant anyway) but we'll either need to:

* pick one that almost every Islandora site will have, and create a dependency on the module it's part

[2017-06-21 21:47] mjordan commented on #17
And we should provide an option for the source datastream, with a default of 'MODS'.

[2017-06-21 23:35] mjordan commented on #17
Commands would look like this:

To update DC from MODS using default XSLT at `islandora_xml_forms/builder/transforms/mods_to_dc.xsl` (same command as used now to push MODS datastreams because this behavior is the default):

`drush islandora_datastream_crud_push_datastreams --user=admin  --datastreams_source_directory=/tmp/mods_datastreams`

To update DC using non-default XSLT:

`drush islandora_da

[2017-06-26 13:42] mjordan commented on #34
Merged with 24de20787d5eef74785077b51ddee159830fdc9a. Closing.

[2017-06-26 13:42] #34 closed

[2017-06-26 14:04] mjordan commented on #24
@bondjimbond I've added a check in the delete datastreams code for the presence of the specified datastream; if it's not present, drush shows an error like this:

`FOO datastream not found in object islandora:25                                                        [error]`

Will merge this now and close. If you find any other misleading messages, open a new issue and reference this one. Thanks f

[2017-06-26 14:04] #24 closed

[2017-06-26 14:05] mjordan commented on #24
Merged with 4b27b065bf90cee9ec6816d7c0d801c0860b0c2d.

[2017-06-27 22:18] mjordan commented on #17
@nate-rcl  and @amandarl, and anyone else interested in this feature (maybe @DiegoPino and @giancarlobi?), I'd appreciate some feedback at this point.

I've got the overall logic/prompts to allow for the updating of DC from MODS or other datastreams. It is basically as described in the previous comment, but I'll run through it here to make sure it's satisfactory. Running

`drush islandora_datastre

[2017-06-28 08:54] giancarlobi commented on #17
Hi Mark,

I don't use MODS but I think CRUD is a really powerful modules to manage
objects so every improvement is welcome, thanks a lot Mark!!

As a batch-scripter I prefer option rather than prompt/answer.
IMHO the logic could be:

- without option => default (i.e. no DC update)

- option => alter current default (i.e. DC updated by MODS)

Just my point of view.

Giancarlo

On 28/06/2017 00:18,

[2017-06-28 19:42] mjordan commented on #17
@giancarlobi  was in a conversation yesterday with @bondjimbond about how common it is for sites to not use MODS, thanks for your example.

With regard to a default behavior for updating DC, it seems your preference is contrary to that of @nate-rcl and @amandarl. Since we can't have two different default behaviors, I'm tending toward their preference. Sorry! Currently, not updating DC and bypassin

[2017-07-04 19:15] bondjimbond commented on #20
Any progress on this? I'm thinking about further use cases/issues to consider.

Current situation: I need to delete all the OBJ files from the Page objects within a set of Books within a certain collection (and not any books that might be outside of that collection). Since Pages aren't part of collections, is it even possible to get a list of PIDs for pages that belong to any books that belong to

[2017-07-04 21:34] mjordan commented on #20
@bondjimbond sorry, been tied up with other things like #34 and #17. If the PID list is not achievable via a potentially complex Solr query, we could look at direct Resource Index/SPARQL queries, but to be honest, I'd rather not go there. However, don't forget that the PID list can come from anywhere, all it needs is some PIDS.... I know that advice is of little use but if you can get a list of PI

[2017-07-04 21:36] mjordan commented on #20
Heh, now that I think of it, we could make the function that fetches PIDS hookable, so writers of code could create their own crazy implementations if they wanted. But that's probably overkill.

[2017-07-09 16:57] mjordan commented on #6
Also, make it clearer in drush help that when pushing datastreams that do not yet exist, label and mimetype should be specified.

[2017-07-09 17:36] mjordan commented on #6
Should add working to https://github.com/mjordan/islandora_datastream_crud/blob/7.x/islandora_datastream_crud.drush.inc#L94 to indicate what happens when no mime type is indicated for not-yet existing datastreams.

[2017-07-23 22:06] mjordan commented on #33
Just noting an idea here. Maybe we can avoid cumbersome replacements by using the raw PID in filenames and URL encoding them before writing the files. (See [this blog post](https://evertpot.com/filesystem-encoding-and-php/) for more info.) Then, when we read the filenames, we can get the original PID back by URL decoding them.

[2017-07-26 18:16] ubermichael commented on #17
Success!

`drush islandora_datastream_crud_push_datastreams --user=admin --datastreams_source_directory=/tmp/mods_datastreams` worked as described. I'll test out the non-default XSLT in a little while (once I've written one).

[2017-07-26 18:32] mjordan commented on #17
@ubermichael sweet, thanks.

[2017-08-16 14:01] mjordan commented on #17
I've merged this into 7.x with 3a915989e78199481018a5cc04a8e9fdab076ab7. Thanks everyone for helping with this feature.

[2017-08-16 14:01] #17 closed

[2017-08-16 14:26] mjordan opened #36 "Add automated tests"
Since Datastream CRUD writes to a repository, we should be using automated tests to make sure we aren't introducing any regression bugs.

* islandora_datastream_crud_push_datastreams
* islandora_datastream_crud_delete_datastreams
* islandora_datastream_crud_generate_derivatives

The challenge will be to provide tests for all of the options available for these commands.

.travis.yml and installing

[2017-08-19 15:50] mjordan opened #37 "Pushing non-XML datastream files attempts to regenerate DC."
Pushing non-XML datastream files  (e.g., .txt) with `drush islandora_datastream_crud_push_datastreams --user=1 -y --datastreams_source_directory="/tmp/foo` attempts to regenerate DC. A preliminary look suggests that the code at islandora_datastream_crud.drush.inc 428-434 should be within the block ending at 426.

[2017-08-19 15:50] mjordan commented on #36
Basic tests for pushing new datastreams added.

[2017-08-21 14:02] mjordan opened #38 "Deprecate '--update_object_label` option for `islandora_datastream_crud_push_datastreams`"
As described in [#18](https://github.com/mjordan/islandora_datastream_crud/issues/18#issuecomment-308501730). Will do this at the end of 2017.

[2017-08-21 14:33] mjordan commented on #36
Up next, tests for `islandora_datastream_crud_push_datastreams`:

*  `--datastreams_mimetype`
*  `--datastreams_label`
*  `--update_object_label`
*  `--update_dc`
*  `--datastreams_revert`

[2017-08-28 22:07] mjordan commented on #37
Fixed with 99673de0a7f80540d5b44209a0cb6f70c88b9eeb.

[2017-08-28 22:07] #37 closed

[2017-08-30 20:33] t4k opened #40 "Hardcoded path to mods_to_dc.xsl is problematic"
Related to #17 maybe.

https://github.com/mjordan/islandora_datastream_crud/blob/3a915989e78199481018a5cc04a8e9fdab076ab7/includes/utilities.inc#L366-L369

We don’t have our site root in `/var/www/drupal/` and we are not using any kind of custom transform, so it would be nice if we could be guaranteed to pick up the standard one.

I can create a pull request, but the change should be easy enough:

[2017-08-30 20:36] mjordan commented on #40
@t4k yes please, open a PR. Fallout from #17.

[2017-08-30 20:58] mjordan commented on #40
I'll update the README to indicate that the default for `--dc_transform` is the path to the XSLT provided by xml_forms.

[2017-08-30 21:21] mjordan commented on #40
Closed with 1d6ea3a39cd4696d84b9f9e85268f99d7b8bb89a. README updated with 664f196a38e32fbe40a97625eee51114747a71a8.

[2017-08-30 21:21] #40 closed

[2017-09-21 23:21] mjordan opened #42 "Logging during derivative generation doesn't work"
The `--datastreams_crud_log` option, it does nothing. Nothing.

[2017-12-14 20:47] bondjimbond opened #44 "Solr query examples in README?"
It'd be nice to see some examples for the solr_query parameter, as writing a raw Solr query by hand is not an easy thing to ask of someone.

I'm trying to use this to get at newspaper issue objects with the isMemberOf relationship to a particular newspaper; since there's no isMemberOf parameter, solr_query is the likeliest way to do it. But I can't seem to get it working.

[2017-12-14 20:50] mjordan commented on #44
@bondjimbond excellent suggestion. There is one example at https://github.com/mjordan/islandora_datastream_crud/issues/20#issuecomment-289859938 but it would be good to provide more.

[2017-12-14 20:53] bondjimbond commented on #44
Ah, thanks - I'd forgotten about that. That example would work just fine in the README

[2017-12-14 20:57] mjordan commented on #44
May as well add a couple others too. I can take a crack at that.

[2017-12-14 21:00] bondjimbond commented on #44
Thanks!

[2017-12-14 21:06] bondjimbond opened #45 "Clarifying generate_derivatives in the README"
It isn't clear whether islandora_datastream_crud_generate_derivatives works with any type of source DSID (including, particularly, a metadata DSID), or just the OBJ/PDF/etc.

In my use case, I have a set of objects for which I had batch edited the MODS file, but need to trigger a DC transform. Could I use islandora_datastream_crud_generate_derivatives using MODS as the source DSID, and would that

[2017-12-14 21:17] mjordan commented on #45
DC is not a derivative of MODS, in the Islandora sense of "derivatives" (i.e., Islandora doesn't use the derivative hooks to generate it). The "Updating DC datastreams by pushing other XML datastreams" in the README covers how to accomplish what you want to do.

[2017-12-14 21:27] mjordan commented on #45
But if it's not clear, let me know.

[2017-12-15 03:35] bondjimbond commented on #45
Good to know! ... Can you force update DC without actually pushing new XML datastreams, though?

[2017-12-15 17:18] mjordan commented on #45
No. To use Datastream CRUD to do this, you'll need to re-fetch your MODS, then re-push them to trigger regeneration of your DC.

[2017-12-18 18:33] #45 closed

[2017-12-22 18:23] bondjimbond opened #46 "Option to skip generating certain derivatives?"
In cases of paged content objects, where default behaviour is to generate OCR, it would be great to have the option to skip the OCR step.

In my case, a batch ingest of newspaper issues failed to create JPEG and TN derivatives for the Newspaper Page objects. OCR went through just fine.

Using this module, I want to generate the image derivatives without regenerating the OCR, as OCR is resource-int

[2017-12-22 18:39] mjordan opened #47 "Add support for PHP 5.3"
Like other Islandora modules......

[2017-12-22 20:54] mjordan commented on #46
Yes, it might be, using an implementation of hook_islandora_derivative_alter(). Let me look a bit deeper.

[2017-12-23 15:00] mjordan commented on #47
Resolved with 2a852f12f7b5da6f933658eb055a63a94c2e896e.

[2017-12-23 15:00] #47 closed

[2017-12-24 17:27] mjordan commented on #46
@bondjimbond can you test the issue-46 branch? Documentation is in the "Triggering derivative generation" section of the readme, but TLDR is

[code]
In this case, the TN should not be regenerated but the rest of the derivative datastreams should be.

I haven't tested this during other operations like batch ingest to make sure that its limiting of derivative generation doesn't bleed over, but I'll

[2017-12-28 00:01] mjordan commented on #46
@bondjimbond hold off, I found a problem. Addressing.....

[2017-12-28 00:07] mjordan commented on #46
OK, back on track. Test when able.

[2018-01-05 15:07] bondjimbond commented on #46
First test: skip the TN datastream.

Method:
- Delete JP2, JPG, and TN datastreams
- Run islandora_datastream_crud with --skip_dsids=TN

Result:

/usr/bin/tesseract /tmp/islandora_71_OBJ.tif /tmp/islandora_71_OBJ.tif -l eng
hocr 2>&1Output: Tesseract Open Source OCR Engine v3.03 with
LeptonicaTIFFstream: Sorry, can not handle image.Error in pixReadFromTiffStream:
failed to read tiffdataError in pi

[2018-01-05 15:09] bondjimbond commented on #46
So -- successfully generated the JP2 and JPG datastreams, successfully skipped the TN datastream. But seems to have some trouble with the OCR; I'm not sure if that's because OCR already exists, or not. Will try again after deleting OCR.

[2018-01-05 15:10] bondjimbond commented on #46
Test 2: Deleted JP2, JPG, TN, and OCR. Tried again with --skip_dsids=TN

Result: Same error - failed to generate OCR.

[2018-01-05 15:11] bondjimbond commented on #46
Test 3: Checked out the 7.x branch and ran again. Same OCR problem, so I guess it's nothing to do with the new code.

[2018-01-05 15:14] bondjimbond commented on #46
Test 4: Back to issue-46. --skip_dsids=OCR

Result: Success; skipped OCR. Still tried to create HOCR, got an error.

Test 5: --skip_dsids=OCR,HOCR

Result: Success; skipped attempts to generate OCR and HOCR.

[2018-01-05 15:14] bondjimbond commented on #46
Final result: Looks good, but I don't know why I was getting OCR errors in the first place. (This is on a pretty fresh Vagrant machine.)

Probably mergeable?

[2018-01-05 16:51] bondjimbond commented on #46
side note: Good timing for this to be working! I started this process on my batch of newspaper pages over two weeks ago when I opened this issue, and today it's still only a fraction of the way through (on object ~27000 of ~81000). I killed the process and am now running this branch without OCR.

[2018-01-05 17:01] mjordan commented on #46
Just for kicks, what happens when you try to regenerate all derivatives for a page using the Islandora GUI? Posts like [this one](https://groups.google.com/forum/#!topic/tesseract-ocr/YxeSfGl1ZKs) suggest that there is source file missing.

[2018-01-05 17:02] mjordan commented on #46
Newspapers are brutally slow. If you can generate JP2s prior to ingest, things speed up, but OCR/HOCR are the real bottlenecks.

[2018-01-05 18:44] bondjimbond commented on #46
Hmm. Regenerate derivatives via UI for the Newspaper Page gives an Error:

Regenerate derivatives on the Newspaper Issue also results in Error:

[2018-01-05 21:25] mjordan commented on #46
@bondjimbond thanks to the detailed testing, I'll merge this.

[2018-01-05 21:25] #46 closed

[2018-02-08 16:32] bondjimbond commented on #20
PR #49 addresses this need; @mjordan please let me know if there's anything needed before that pull is mergeable.

[2018-02-08 16:37] mjordan commented on #20
Super, thanks. I won't have time to test today or tomorrow, but will have time on the weekend.

[2018-02-12 22:29] #44 closed

[2018-02-12 22:29] #20 closed

[2018-02-15 18:56] mjordan opened #50 "Add a "noclobber" flag"
For write operations like pushing datastreams and generating derivatives, it would be useful to not overwrite existing datastreams. Even though the PID list should be specific and only contain PIDs for object that you do want to apply the write operations to, in situations like cleaning up after a batch ingest that failed, your PID list might include objects that you don't want to touch (we have f

[2018-02-26 15:47] mjordan opened #51 "Document how to change a datastream's DSID"
Since datastreams can't be renamed, the most obvious approach to doing this is:

1. download the datastreams with the old name (e.g., JPEG)
1. rename the datastream files to reflect the new DSID (e.g., JPG)
1. push up the newly named datastreams

See https://github.com/MarcusBarnes/mik/issues/456 for a real use case.

[2018-03-15 20:42] bradspry opened #52 "Hard-coded SOLR field names"
The following lines have hardcoded SOLR field names:
https://github.com/SFULibrary/islandora_datastream_crud/blob/5a3b92ac7de4ef339c699be9f9982b1f71cd7fdd/islandora_datastream_crud.drush.inc#L261-L272

My SOLR indexer uses suffix '_mt' for tokenized fields.

Hacking the source isn't the best option, but that's what I had to do to get --collection, --is_member_of, and --content_model options up and

[2018-03-15 20:47] mjordan commented on #52
Our friend @DiegoPino opened #10 many moons ago... not sure if he's still interested, but if not, we can probably come up with a command-line solution to the mapping problem.

[2018-03-15 20:48] mjordan commented on #52
Command line or a little config file.

[2018-03-15 20:56] bradspry commented on #52
Sorry for the dupe!  I just didn't see it... 🙈

[2018-03-15 21:23] DiegoPino commented on #10
@mjordan so many moons. Was before https://github.com/mnylc/islandora_multi_importer. Is this still relevant for you? I know there is already a UI around for your crud. if relevant on #52 let me know and i can get you something tomorrow for sure. I mean, what are 24 hours more in this contex? 👍

[2018-03-15 21:32] mjordan commented on #10
@DiegoPino thanks for the offer but I am wondering it a simple, optional mapping in a config file is sufficient? Don't go to any trouble if you no longer have a use for a field config GUI.

[2018-03-15 21:48] DiegoPino commented on #10
@mjordan ok, will give it a shot.

[2018-03-15 21:50] mjordan commented on #10
Sorry, I can do the mapping file, I didn't mean to imply that you do it. You're off the hook!

[2018-04-06 18:03] mjordan opened #53 "Add ability to delete versions of datastreams"
From discussion starting at https://groups.google.com/d/msg/islandora/q1udVKoh194/YJD_4ulqCAAJ.

[2018-04-16 14:10] bondjimbond opened #54 "Add option to regenerate DC metadata on MODS push"
https://github.com/qadan/islandora_batch_derivative_trigger lets you regenerate child DC metadata in batch via the UI for selected PIDs. It would be nice to do this automatically when altering the MODS datastreams on objects, e.g. with push_datastreams. Would it be possible to grab code from there to add such an option to this module?

[2018-04-16 14:39] mjordan commented on #54
@bondjimbond I might be misunderstanding what you're asking for, but can you confirm that the section "Updating DC datastreams by pushing other XML datastreams" in CRUD's README.md does not describe what you are wanting to do?

[2018-04-16 14:52] bondjimbond commented on #54
Ack, you're right! Sorry I missed that... I forgot about it somehow.

[2018-04-16 14:55] bondjimbond commented on #54
Instead, however, can I ask about the update_object_label option? Having just tried it, I can confirm that it does indeed only work if you're directly pushing a DC datastream. But if you're regenerating the DC datastream from the mods, would it be possible to rewrite this option so that the label gets regenerated on that trigger?

[2018-04-16 15:06] mjordan commented on #54
Probably, but I wrote "This option will likely be deprecated in the future in favor of the islandora_datastream_crud_update_object_properties command." So I need to think about this a bit more.

[2018-04-16 15:08] bondjimbond commented on #54
No worries. I was able to do it using update_object_properties -- it's just a lot more convenient to do it all in one go.

[2018-04-24 19:34] bondjimbond opened #56 "More Solr query examples"
It is quite difficult to comprehend how a complex Solr query should be formulated. For example, I want to use the following:

`PID:capu\:*&fq=-RELS_EXT_hasModel_uri_s:islandora\:collectionCModel&fq=-mods_genre_s:reports&fq=-mods_genre_s:clippings*&fq=-mods_genre_s:letters*`

which is valid if you put it in Solr, but not valid for this module. How would a Solr query with more than one field or with

[2018-04-24 20:20] mjordan commented on #56
There are a lot of shell characters in that query. What happens if you wrap the entire query in double quotes?

[2018-04-24 20:24] bondjimbond commented on #56
It was all in double quotes when I attempted it. I tried several iterations, but nothing worked; can't figure out the correct way to do it.

[2018-04-26 20:14] mjordan opened #57 "Turn off derivative generation in islandora_datastream_crud_push_datastreams"
It would be useful to be able to turn off derivative generation when pushing datastreams. `drush islandora_datastream_crud_generate_derivatives` currently offers options to include or exclude specific derivative generation.

My use case is that I have some objects that don't have OBJ datastreams. I want to push them up, but I don't want any of the existing datastreams to be regenerated.

A possibl

[2018-04-26 21:37] mjordan commented on #57
Closed with 9990933a5fb68ea88b8e495b3ffe37a021a927d6.

[2018-04-26 21:37] #57 closed

[2018-04-26 21:47] mjordan opened #58 "Duplicate datastream versions created when pushing existing datastreams"
We only want one new version, thank you.

[2018-04-26 22:02] mjordan commented on #58
Closed with 3f9ae64f59d85518f35864e2387fa9cae5921e70.

[2018-04-26 22:02] #58 closed

[2018-04-26 22:29] mjordan commented on #56
Can you try building up the parameters at a time until it works, in order to narrow down what character is making it not work? For example,

[code]
then
[code]
then
[code]
etc.

If it works in the Solr web UI but not on the command line, I strongly suspect that it isn't being passed into Drush properly because of a shell metacharacter cutting the query string off.

Another approach is to add `var_

[2018-05-02 18:46] bondjimbond commented on #56
OK, I think I'm getting the idea. Here's a query that worked in Vagrant:

`drush islandora_datastream_crud_fetch_pids --solr_query="RELS_EXT_isMemberOfCollection_uri_ms:info\:fedora\/ir\:citationCollection AND dc.title:citation AND -mods_genre_s:letters" --pid_file=/var/www/drupal/sites/solr1.txt`

A space between the ANDs is important, and instead of "fq" just put a "-".

Can we document that in

[2018-05-02 18:57] mjordan commented on #56
Nice work. I can start a new section called "Solr queries" and put between the "Fetching PIDs" and "General workflow" sections with this example if you want. Or if you want to open a PR that would be cool.

[2018-05-02 19:07] mjordan commented on #56
@bondjimbond thanks for the excellent example. Close this if you want.

[2018-05-02 19:35] #56 closed

[2018-05-02 20:29] mjordan commented on #53
Thinking a command like this is suitable. In this case, it would delete version 0 (the current one) and 1 (the previous one): `drush islandora_datastream_crud_delete_datastream_versions --user=admin --dsid=FOO --versions=0,1 --pid_file=/tmp/delete_foo_versions_from_these_objects.txt`

This would require knowing which versions you want to delete. If use cases for knowing the created date on the ver

[2018-06-05 00:11] kayakr opened #60 "Help text for islandora_datastream_crud_generate_derivatives describes deleting datastreams"
`islandora_datastream_crud_generate_derivatives` has example
` 'drush islandora_datastream_crud_delete_datastreams --user=admin --dsid=FOO --pid_file=/tmp/delete_foo_from_these_objects.txt',`
and help text like
`'pid_file' => array(
        'description' => 'Absolute path to the file that lists PIDs for objects you want to delete datastreams from.',`

[2018-06-05 02:23] mjordan commented on #60
Thanks, I'll fix.

[2018-06-10 00:14] poulterd opened #61 "create pdf derivatives for book or page content models"
currently crud will create a pdf and other derivatives for specific pids.  I do not see a way to pass in the pid of a book id and generate an aggregate pdf from the pages as the book.

[2018-07-01 16:58] mjordan commented on #60
Running `drush islandora_datastream_crud_generate_derivatives --help` now produces:

[code]

[2018-07-01 16:59] mjordan commented on #60
Addressed with 40faa8348840f991d6207d115ebff1e0d1d33bc6.

[2018-07-01 16:59] #60 closed

[2018-07-03 00:04] t4k opened #62 "Generate RELS-INT datastreams"
I had pre-generated a bunch of JPEG 2000 derivatives for book pages because that was faster than doing it upon ingest. Islandora does not generate the RELS-INT files when those are added. This makes books slow in loading because the BookReader needs to "ping" every page to get its dimensions (I presume). We have very large books and the browser tabs are completely locked up for minutes while this

[2018-07-03 00:06] t4k commented on #62
My plan for this is to add a new command that implements the islandora_paged_content_add_dimensions_relationships() function.

I'll touch the `islandora_datastream_crud.drush.inc` file.

I'll require the `islandora_paged_content` module for this command only.

[2018-08-09 15:21] bryjbrown opened #64 "Adding duplicate versions of replaced datastreams"
Recently we used @bgilling's https://github.com/ulsdevteam/islandora_datastreams_io module to do batch replacements of MODS datastreams on our repository, and the Solr indexing backlog exploded. After investigating, it looks like for every replacement the process ended up appending 2-6 identical MODS records, each one being identical copies of the one supplied for replacement. https://github.com/u

[2018-08-09 15:46] wgilling commented on #64
Bryan,

I can explain why this happens... in updating most datastreams, the mimetype, the label, and the underlying resource (a MODS file in this case) are EACH creating another instance of the MODS datastream.

I hope this answers at least the "weird behavior" part of your question... as to what to do to address this, some code could be written to dispose of any datastream version where the under

[2018-08-09 15:48] mjordan commented on #64
@bryjbrown I addressed this problem in #58 but perhaps I didn't do a good enough job of testing my fix. Are you running the latest version of the CRUD code?

[2018-08-09 15:50] mjordan commented on #64
But I was unaware of the issue @bgilling describes.

[2018-08-09 16:38] bryjbrown commented on #64
@mjordan I'm using a freshly downloaded copy for testing.

@bgilling This is also happening when I replaced the OBJ datastream on PDF cmodel, so I don't think its MODS only, even though the problem is certainly exacerbated when dealing with MODS datastreams. Is islandora_datastreams_io the thing creating the new MODS versions then, or tuque?

When I use /datastream/MODS/replace, I only get 1 addit

[2018-08-09 16:42] mjordan commented on #64
Datastream CRUD is via the tuque API. Apparently my fix in #58 didn't work.

I'll make some time to look at this in a few hours, can't at the moment.

[2018-08-12 15:18] mjordan commented on #64
@bryjbrown I can't replicate the duplication. Here's my datastream list after pushing a new version of MODS using the command `drush islandora_datastream_crud_push_datastreams --user=admin --datastreams_source_directory=/tmp/crud64mods`:

![crud64](https://user-images.githubusercontent.com/403918/44003437-82afefe4-9e07-11e8-8248-d2aa2027806a.png)

Following up on @bgilling's comment, are you speci

[2018-08-14 21:47] bryjbrown commented on #64
@mjordan this helps a lot, with this info I was able to figure out the problem. `islandora_datastreams_io` is calling `islandora_datastreams_crud` to push and specifying not only the mimetype, but also the datastream label. Each option seems to make a new version of the datastream and commenting them out only increments the version count by 1, as expected, while retaining the original mimetype and

[2018-08-14 21:48] #64 closed

[2018-08-23 01:28] bondjimbond opened #65 "fetch_pids proceeds even when collection not found"
I was surprised today by the following:

[code]
The correct collection PID was coh:1953map (no 's'). Looks like it went ahead and fetched PIDs ignoring the collection restriction?

[2018-08-23 04:26] mjordan commented on #65
What PIDs ended up in your PID file?

[2018-08-23 13:27] bondjimbond commented on #65
@mjordan The same PIDs that were generated with the correct collection PID (because those were the only objects without a TN datastream).

[2018-08-26 20:07] bondjimbond opened #66 "generate_derivatives breaks down on extremely large files?"
Error when trying to generate derivatives:

The OBJs in question are in the range of 1.3 GB (which is insanely high for images, I know). Output seems to hang at this point -- no progress going beyond it.

[2018-08-26 20:18] mjordan commented on #66
I'm not sure this craps out because of the size or because there are several errors with the TIFF. Datastream CRUD uses the same derivative generation code that the rest of Islandora does. If you load this monster TIFF into a new test object using drush, does it ingest and generate derivatives successfully or also crap out?

[2018-08-26 20:21] bondjimbond commented on #66
Don't know. Looking like it's not a problem with the module, at any rate. Getting some funny errors though.

E_RECOVERABLE_ERROR encountered; aborting. To ignore recoverable     ^[[31;40m^[[1m[error]^[[0m
errors, run again with --no-halt-on-error
Drush command terminated abnormally due to an unrecoverable error.   ^[[31;40m^[[1m[error]^[[0m

[2018-09-05 02:13] mjordan opened #67 "DSIDs with underscores are not named properly"
DSIDs containing underscores (e.g., `sfuiritem_23_USAGE_DATA.usage`) aren't recognized because the `_` is used to explode the parts of the filename in https://github.com/SFULibrary/islandora_datastream_crud/blob/7.x/includes/utilities.inc#L126. Adding a '3' as the third parameter to `explode()` solves the problem. We probably should introduce a parameter to `islandora_datastream_crud_push_datastre

[2018-09-26 14:29] theMusician commented on #67
Thanks, this helped us out. Here is a patch file for use.
[issue-67.patch.zip](https://github.com/SFULibrary/islandora_datastream_crud/files/2420168/issue-67.patch.zip)

[2018-11-14 17:18] mjordan commented on #66
@bondjimbond I'm going to close this for now, you can reopen if you get any additional information.

[2018-11-14 17:18] #66 closed

[2018-11-14 17:23] mjordan opened #68 "Islandora CLAW replacement"
This issue links https://github.com/Islandora-CLAW/CLAW/issues/965. Initial, basic implementation is at https://github.com/mjordan/islandora_console.

[2019-02-18 23:43] mjordan commented on #33
@bgilling I have done some work on this 1.5 year old issue. If you are still interested, I'd appreciate it if you could test my fix. In a nutshell, if you add the `--filename_separator` option with a character like `^` or `#` when you fetch or push datastreams, you can use `_` anywhere you like in the DSID or PID. The section in the issue-67 branch's README with the heading "Dealing with underscor

[2019-02-18 23:45] mjordan commented on #67
@theMusician this issue also applies to PIDs with underscores, so I've come up with a fix that allows the use of `_` in both PIDs and DSIDs. If you are so inclined, would you be interested in testing the code in the issue-67 branch? No sweat if you're not.

If you add the `--filename_separator` option with a character like `^` or `#` when you fetch or push datastreams, you can use `_` anywhere you

[2019-02-19 17:54] wgilling commented on #33
@mjordan I would be happy to test this out this week - I expect that I will have sufficient time tomorrow (2019/02/20) to use that option.

Soon after this, I can add a configuration for this option for the islandora_datastreams_io interface.

[2019-02-20 21:26] wgilling commented on #33
One tiny issue that I ran into when I tried this on the command line was caused that I used an illegal character.  I chose to try  `--filename_separator=|` which has the unfortunate result of causing the executed command to split on the pipe character.

Here are the results when I called the export with different separator values:

filename_separator | exported filename
------------ | ------------

[2019-02-21 02:52] mjordan commented on #33
@bgilling thanks for the thorough test. I'm not surprised `|` caused havoc since it has a specific use in most shells, but apparently if you really want to use it, `\|` will do the trick. I wonder if it would be OK to prohibit the use of `|` - do you think anyone would miss it?

That's right, I kept the `:` in an effort to keep the PIDs intact to the extent possible. Substituting `:` for `_` was,

[2019-02-21 19:17] wgilling commented on #33
I think it is good to have this parameter option now... and I don't think that the pipe character would be something that people need to use particularly.  As developers, we certainly are familiar with some characters that would cause problems -- and we know what we're doing when we use that option to set a delimiting character --- for example, I suppose that we all know that we'd be in trouble if

[2019-02-22 06:10] mjordan commented on #33
@bgilling thanks very much for testing. I think I will add '*' and '/' to the prohibited character list, since I can't think of a valid (or even workable) use case for them and not all users will think of the implications of using them. And thanks for testing how this change will impact islandora_datastreams_io.

[2019-02-22 15:20] theMusician commented on #67
Hiya @mjordan. We are happy to give this a go. I have messaged the librarians that do the datastream work. Once I have a time aligned with them I will swap branches and we can get it tested. Thanks for continuing to work on this.

[2019-02-22 16:30] wgilling commented on #33
you're very welcome -- and thank you for all that you do.

[2019-02-22 20:48] mjordan commented on #67
@theMusician please do, but @bgilling has already given the branch a thorough test over at #33, so I'm happy to merge now. Your call.

[2019-02-25 23:43] theMusician commented on #67
No issues on our end. Thanks for the better fix.

[2019-02-25 23:50] mjordan commented on #67
Super, thanks very much.

[2019-02-26 23:00] theMusician commented on #67
![image001](https://user-images.githubusercontent.com/1162851/53452705-f05e3080-39d6-11e9-90ed-1983d847c1af.jpg)

Drats, we tried another test and it seems to be treating wwu as the target pid.

Here is what we did:

We used an Islandora Datastream CRUD command to fetch a FULL_TEXT datastream from a PDF object in MABEL

I used CRUD again to push that same FULL_TEXT datastream back to its original

[2019-02-26 23:20] theMusician commented on #67
Gahh... didn't see the new instructions in the Readme, which you clearly pointed out.

That did work, though it created three copies of the datastream with the same timestamp.

![unknown-1](https://user-images.githubusercontent.com/1162851/53453799-0de0c980-39da-11e9-9075-ac165034d537.jpeg)

[2019-02-27 04:18] mjordan commented on #67
@theMusician I can't replicate the multiple datastreams behavior. Can you try again and confirm?

[2019-03-07 16:02] mjordan commented on #67
@theMusician Since I can't replicate the duplicate versions, I'm going to merge this change into 7.x so it doesn't get too stale and close this issue and #33. However, feel free to reopen if you can replicate that behavior.

[2019-03-07 16:02] mjordan commented on #67
Merged with 60ed72125023fd27adf8bb8f2df94f20d1cce84b.

[2019-03-07 16:02] #67 closed

[2019-03-07 16:02] mjordan commented on #33
Merged with 60ed72125023fd27adf8bb8f2df94f20d1cce84b.

[2019-03-07 16:02] #33 closed

[2019-03-11 16:02] tfluhr opened #69 "islandora_datastream_crud_update_object_properties --update_object_label not working"
Hi.

I'm having problems with the islandora_datastream_crud_update_object_properties command and  --update_object_label flag.

Here's what I'm trying to do:

1. I generate a list of pids

[code]

2. Attempt to update object label of one object placed into test file created from results of above command:

`$drush islandora_datastream_crud_update_object_properties --pid_file=/var/www/islandora/test_

[2019-03-12 02:09] mjordan commented on #69
@tfluhr this worked for me:

[code]

All of the object labels where changed as expected.

But the fact that CRUD is reporting that you only have one PID in your PID file seems a bit unusual. How many entries are in the file?

[2019-03-12 02:10] mjordan commented on #69
Also, the datastreams that you want the updated labels to come from are MODS, correct? Or some other datastream, like DDI?

[2019-03-12 02:22] #38 closed

[2019-03-12 03:30] tfluhr commented on #69
Hi Mark.

Thanks for checking into this.

The reason I only have one PID is because I'm running this against a test
file with only one object in it.  The labels I'm trying to use as
replacements are coming from MODS datastream. I've tested the xpath to
select the title and that is working--just not when I'm using the module.

Take care,

-tim

On Mon, Mar 11, 2019 at 9:10 PM Mark Jordan <notificat

[2019-03-12 03:43] mjordan commented on #69
Would you be able to share a couple of the MODS datastreams with me so I could try updating labels using them?

[2019-03-12 14:50] tfluhr commented on #69
I've attached the MODS record of the object I'm trying to update.
I also double-checked the MODS datastream ID and it is MODS.

Let me know if you would like to see php info. I can send a redacted
screenshot or any relevant libraries/module info.
Thanks!
-tim

On Mon, Mar 11, 2019 at 10:43 PM Mark Jordan <notifications@github.com>
wrote:

--
Tim Fluhr
Systems Librarian
Illinois Tech
312.823.2337
t

[2019-03-12 15:06] mjordan commented on #69
@tfluhr I don't see the attachment, can you try again or send it to me via email?

[2019-03-12 15:30] tfluhr commented on #69
[Link to mods.xml](https://github.com/galvinlibrary/Python-ETDs/blob/master/MODS%20Record%20(13).xml)

[2019-03-12 15:31] tfluhr commented on #69
[https://github.com/galvinlibrary/Python-ETDs/blob/master/MODS%20Record%20(13).xml](url)

Link to MODS.xml

[2019-03-12 15:55] tfluhr commented on #69
Hey Mark. Sorry about that. I pasted a link to the file in git.  Let me
know if you need anything else.

-tim

On Tue, Mar 12, 2019 at 10:14 AM Mark Jordan <notifications@github.com>
wrote:

--
Tim Fluhr
Systems Librarian
Illinois Tech
312.823.2337
tfluhr@iit.edu

[2019-03-12 16:07] mjordan commented on #69
No problem, I'll take a look at it later today.

[2019-03-13 14:28] mjordan commented on #69
@tfluhr Using the MODS document you provided, I am able to replicate the error you are seeing, but I'm still working on figuring out why it's happening. Will continue to investigate.

[2019-03-14 01:48] mjordan commented on #69
I've narrowed the problem down to the XML namespace declarations used in your sample MODS file:

[code]

I came to this conclusion by taking a MODS file that didn't cause CRUD to error out and replacing the namespace declarations in it with the snippet above, then running CRUD against it. This replicated the error. Then I took your sample file and replace its namespace declaration with one that di

[2019-04-18 19:39] tfluhr commented on #69
Hi. I'm just checking in on this to see if there has been any progress or
if I can help out in any way.

Thanks!

-tim

On Wed, Mar 13, 2019 at 8:48 PM Mark Jordan <notifications@github.com>
wrote:

--
Tim Fluhr
Systems Librarian
Illinois Tech
312.823.2337
tfluhr@iit.edu

[2019-04-21 21:06] mjordan commented on #69
No progress, dropped off my radar. Sorry about that.

[2019-04-22 20:01] mjordan commented on #69
It appears that your file doesn't have `mods` declared as a namespace:

[code]

whereas MODS files that do work have the same default namespace and also the `mods` namespace explicitly declared:

[code]
Yet, the syntax you are using is a valid way of saying that the default namespace is associated with `http://www.loc.gov/mods/v3`, and when I dump the namespaces that CRUD is parsing from your file

[2019-04-22 20:12] mjordan commented on #69
Discussion following https://stackoverflow.com/questions/6475394/php-xpath-query-on-xml-with-default-namespace-binding#6475568 suggests that XPath 1.0, which is what PHP supports, doesn't know about default namespaces, so that would explain why `//mods:titleInfo/mods:title` works with XML files that declare that namespace explicitly and `//titleInfo/title` doesn't work.

When I modify CRUD's code

[2019-04-22 21:33] mjordan commented on #69
@tfluhr  can you test the issue-69 branch by running the command with th enew `--add_namespace` option like this:

`drush -u 1 islandora_datastream_crud_update_object_properties --update_object_label --pid_file=/tmp/crud69.txt  --add_namespace=mods:http://www.loc.gov/mods/v3`

[2019-04-25 14:12] tfluhr commented on #69
I will give this a shot later today.  Thanks for the updates Mark!

On Mon, Apr 22, 2019 at 4:34 PM Mark Jordan <notifications@github.com>
wrote:

--
Tim Fluhr
Systems Librarian
Illinois Tech
312.823.2337
tfluhr@iit.edu

[2019-05-01 14:52] bondjimbond opened #72 "Reinventing the wheel?"
I've been looking around to see if there's a single function where DC datastreams are transformed from MODS. And I'm a bit surprised to see that the code is getting rewritten in various modules instead of just getting included from a core module.

Example: https://github.com/SFULibrary/islandora_datastream_crud/blob/4f19f99d3f4f1783f13ff59afd8948c4271ea740/includes/utilities.inc#L369

Does this do

[2019-05-01 15:34] mjordan commented on #72
The only major difference between the XML Forms version and this one is the logging that happens within the function, but that could probably be done where the function is called.

[2019-05-01 15:38] bondjimbond commented on #72
I've been poking around this topic (as my hope is to create a hook around the mods-to-dc transform function), and frustratingly, every module is doing the same thing: writing its own code (AND hosting its own mods_to_dc.xsl files).

I've written a ticket for it: https://jira.duraspace.org/browse/ISLANDORA-2425

I'm not sure how difficult it would be to modify all those modules to rely on a single

[2019-05-01 15:48] mjordan commented on #72
If we centralize to a single shared function, I will implement it in CRUD.

[2019-05-06 16:33] tfluhr commented on #69
Hi Mark. This is working now.  Thank you for looking into my issue.

I do have an additional question. I think I am misunderstanding what the --update_object_label flag does.  I'm trying to update the OBJ label in the Datastreams tab. I want to do this so downloaded objects don't have a generic OBJ Datastream.pdf filename.

Can this be accomplished with the CRUD module?

[2019-05-08 03:21] mjordan commented on #69
@tfluhr thanks for testing, I'll merge this new feature and close this issue.

The `--update_object_label` applies to the object as a whole, not the OBJ datastream. You can change the OBJ datastream's label, but to do so you need to push up new copies of the datastream and use  the `datastreams_label` option.

[2019-05-08 03:21] #69 closed

[2019-05-08 17:54] tfluhr commented on #69
Cool. Thanks Mark.

Take care.

-tim

On Tue, May 7, 2019 at 10:21 PM Mark Jordan <notifications@github.com>
wrote:

--
Tim Fluhr
Systems Librarian
Illinois Tech
312.823.2337
tfluhr@iit.edu

[2019-05-15 13:36] bondjimbond opened #73 "New fetch_pids option: without_cmodel"
We have a --content_model option, but we don't have any way to _exclude_ a certain content model from a query without using a Solr query. Using Solr means sacrificing other important parameters (like --without_dsid), so this specific set of objects is very hard to reach.

[2019-05-15 14:33] mjordan commented on #73
@bondjimbond thanks, this is a good improvement. I will test your PR within a couple of days.

[2019-05-17 18:21] bondjimbond opened #75 "Self-transform MODS function"
A nice new feature would be to update the MODS datastreams for a list of PIDs by running them through a given self-transform XSL.

Use case: I've got a [pull request open for Islandora XML Forms](https://github.com/Islandora/islandora_xml_forms/pull/264) that provides a new self-transform XSLT, which I would like to apply against every object with a MODS datastream in the repository (~176,000 obje

[2019-05-17 18:24] mjordan commented on #75
This would be a useful feature... but maybe we can extend it to allow the use of an arbitrary XSLT stylesheet. If the user wanted to use the self transform configured in XML forms, they would pass a specific value to the drush command, but if they wanted to use an external XSLT stylesheet, they could pass the path to it.

[2019-05-17 18:24] mjordan commented on #75
Of course, we don't want to make it specific to MODS, we'd need to allow the user to indicate the DSID that would be updated.

[2019-05-17 18:33] bondjimbond commented on #75
Sounds good to me!

[2019-05-17 18:35] mjordan commented on #75
Over the weekend, I will test and merge (unless there are large issues) #74. Do you want me to take an initial stab at implementing this new feature as well?

[2019-05-17 18:37] bondjimbond commented on #75
Sure, no reason not to if you have the time!

[2019-05-17 19:16] mjordan commented on #75
Just a note here, but this feature will need to take the behavior described in the "Updating DC datastreams by pushing other XML datastreams" section of the readme into account, which means we'll probably need an option to also update the DC or not.

[2019-05-17 19:25] bondjimbond commented on #75
Absolutely! And default behaviour should be to update DC if updating MODS.

[2019-05-17 19:31] mjordan commented on #75
I was thinking the default behavior would be to do as it does now - prompt you for a yes or no. But I'll have to think about it a bit more.

[2019-05-17 19:31] bondjimbond commented on #75
Yes, that's sensible.

[2019-05-30 14:00] mjordan opened #76 "Check for messages during derivative generation"
As pointed out by @DiegoPino in https://groups.google.com/d/msgid/islandora/c8202a7a-dead-496f-881f-06da74234dfc%40googlegroups.com?utm_medium=email&utm_source=footer, we should be checking for the existence of `$ds_message` and its member keys.

Thanks Heather for finding this and thanks Diego for suggesting the improvement!

[2019-06-11 09:51] mjordan opened #78 "Generating derivatives does not attach thumbnails to books and newspaper issues"
`islandora_datastream_crud_generate_derivatives` does not attach thumbnails to books and newspaper issues, because that process is not strictly part of derivative creation. We should fire `islandora_paged_content_derive_thumbnail_of_parent()` for books and newspaper issues when `islandora_datastream_crud_generate_derivatives` is run.

[2019-06-11 10:16] mjordan commented on #78
I think I am wrong - TNs for books and issues appear to be regenerated. I'll test compound object TNs and expand this issue or close it as appropriate.

[2019-06-28 14:54] bondjimbond opened #79 "Multiple values for various options"
It would be nice to be able to specify more than one value for some options.

e.g. If I want to find objects that have both the OBJ and JP2 datastreams, I need multiple choices for `--with_dsid`.

If I want to limit those to certain namespaces, I need multiple choices for `--namespace`.

Challenge: Boolean operators needed. When stringing together multiple values for a single option, natural human

[2019-07-05 03:07] mjordan commented on #73
Merged with 0dd99fd350464f3f1ba6b11cd73e372ec4aed3bc.

[2019-07-05 03:14] mjordan opened #80 "Allow --without_cmodel option to take multiple content models"
In #74, @bondjimbond asks, "Is there a simple way that this might be tweaked to allow multiple comma-separated choices?"

Providing a comma-separated list of cmodel PIDs seems obvious, particularly since commas are [not allowed in PIDs](https://github.com/Islandora/islandora/blob/7.x/includes/utilities.inc#L115).

Splitting the value of `--without_cmodel` on a comma [within this block](https://git

[2019-07-05 14:06] bondjimbond commented on #80
If you've got time to do so I would be happy to see you do it; I'm going to be on vacation very soon so won't have a chance.

I'd also add that a comma-separated list of choices would be appropriate for most if not all of the CRUD options -- although as I said in #79, we'd have to be careful about our assumptions for whether the commas mean AND or OR.

In the `--without_cmodel` case, of course, it

[2019-07-05 16:17] mjordan commented on #80
I can take a stab. But, I disagree with your statement "In the --without_cmodel case, of course, it's obviously AND." If we provide multiples and AND them, only objects with both cmodels would be selected. I don't know of many situations where an object would have multiple cmodels other than people entities (I think, that edge case sticks in my mind for some reason). Does that make sense or am I n

[2019-07-05 17:05] bondjimbond commented on #80
I think we're just interpreting "and" differently. :) I'm saying if you choose `--without_cmodel=islandora:sp_pdf,ir:citationCmodel`, you are saying "I want objects without the PDF Cmodel, AND without the Citation Cmodel."

So it's more an `AND NOT` statement.

[2019-07-22 17:13] t4k commented on #76
I just came across the underlying issue here, as well.

I applied the changes you posted here, but still was getting errors.

/…/includes/bootstrap.inc).
Cannot modify header information - headers already sent by (output started at /usr/local/src/drush/includes/output.inc:38) bootstrap.inc:1499                             [warning]
TypeError: Argument 2 passed to t() must be of the type array, nul

[2019-07-22 17:21] mjordan commented on #76
@t4k thanks for the fix, I'll update that branch and ping you for some smoketests if that's OK.

[2019-07-22 17:23] t4k commented on #76
I'll be happy to test.

[2019-07-24 14:32] mjordan commented on #76
@t4k Strange, running in the `issue-76` branch, at 6e44240cf13b5322ff945529e3ef41c0b99c7943, I can't replicate those errors:

[code]
And nothing in my watchdog. I wrapped `$ds_message['message_sub']` in `array()` to replicate your fix and while the derivatives generated successfully, I'm now getting warnings containing uninterpolated `@pid`s:

[code]

According to https://api.drupal.org/api/drupal

[2019-07-24 16:03] t4k commented on #76
Ah, here is my environment (just noticing I am on an old version of Drush, that may be an issue.):

Drush: 7.0.0
Drupal: 7.67
PHP: 7.1.18
ImageMagick 7.0.8

[2019-07-26 14:36] mjordan commented on #76
I'm running on the Islandora Vagant, which has Drush version 6.3.0. I'll try to update to see if I can replicate what you're seeing.

[2019-11-06 00:44] t4k commented on #76
I updated my Drush version to 8.3.1 and was still encountering the same issues.

This is what was happening before…
[code]

I updated the `.drush.inc` file by changing the `||` to `&&` and adding an `elseif` condition…
[code]

After that I am able to run the command…
[code]

It may be difficult to reproduce my scenario because it might be arising due to the temporary file notice that is going on…

[2019-11-19 23:58] DiegoPino commented on #76
@mjordan i just had the same issue. Seems like when derivative generation does not fail, but can not be done because source dsid is not there, the sucess message has missing parts. The fix was quite simple.

Original:
[code]
[code]
In case this helps anybody, its just a simple cast to array.

[2019-11-20 00:15] mjordan commented on #76
@DiegoPino thanks for the casting fix. @t4k does that work for you?

[2019-11-20 00:16] DiegoPino commented on #76
Np! This module is a life saver ❤️ =)

[2019-11-20 17:58] DiegoPino opened #81 "Question: Do all Derivates get generated anyway, even if only one DS ID is selected?"
Hi,

For the first time i have been using this awesome module to regenerate targeted derivatives but i'm seeing an unexpected behaviour:

[code]

This is my command (i added the skip ones because i was having trouble just getting TN).

When i run this against, e.g a set of PIDS that are book pages or even there is a book, i see `fits`, `tesseract` and every other derivative generation process spin

[2019-11-20 22:42] t4k commented on #76
@mjordan, yes I just successfully regenerated derivatives with the fix from @DiegoPino !

[2019-11-21 03:29] mjordan commented on #76
Sweet - Occam's Razor at its best. Since we're all happy with that simple fix, I'll add it.

[2019-11-21 03:30] mjordan commented on #81
@DiegoPino what you are observing is not the intended behavior, and your command looks fine to me. I'll look into it.

In the meantime, I know @bondjimbond uses this, so I'll ping him to see if he's ever seen anything like what you're describing.

[2019-11-21 13:54] bondjimbond commented on #81
Sorry, I've never tried it to regenerate TNs only. I have used it to regenerate derivatives, but that was always in cases where all image derivatives failed, so I've never tried skipping them.

[2019-11-25 14:55] mjordan commented on #81
@DiegoPino I've confirmed the behavior you are seeing and will investigate.

[2019-11-25 14:56] DiegoPino commented on #81
@mjordan thanks so much. Let me know if you need any help on this.

[2019-11-25 15:01] mjordan commented on #76
Resolved with 3929dbf9ff16717a8e98f8ddfb2c38870949c1fd. Thanks for your help and patience @t4k , and thanks for the simple fix @DiegoPino.

[2019-11-25 15:01] #76 closed

[2020-01-13 15:09] mjordan commented on #81
@DiegoPino I'm sorry for the delay on this.

I can't figure out why this is not working the way it's intended. The logic that filters our the destination DSIDs at https://github.com/SFULibrary/islandora_datastream_crud/blob/7.x/islandora_datastream_crud.drush.inc#L670 appears to be working within the hook implementation, yet all derivatives are being created. Based on what you know of how `hook_is

[2020-01-13 15:17] DiegoPino commented on #81
@mjordan hi! Thanks for writing back. I'm a bit clueless, the hook implementation is OK, but there seems to be something on core that is not using the filtered down options. I need to test further, was almost thinking of skipping the alter all together and building a list of derivatives and calling each one independently, but that seems also a bit of a hack. Also, side note: In my local instance i

[2020-01-13 15:43] mjordan commented on #81
Cool, thanks for your contributions here and for your patience.

[2020-02-05 00:22] mjordan commented on #81
@DiegoPino figured this out. If you turn off derivative generation at `admin/islandora/configure` (in other words, check "Defer derivative generation during ingest ") and then run `drush islandora_datastream_crud_generate_derivatives` with the `--dest_dsids` option, only those listed get regenerated. This is documented in the README, but only indirectly. I will fix. I'm sorry about that.

[2020-03-02 18:12] DiegoPino commented on #81
@mjordan hi. I really tried with just --dest_dsids but no luck. I enabled "Defer derivatives" but then i had to be also explicit about which DSIDs i want to ignore or i end with OCR and HOCR again. I will have to keep digging into it, i feel it is more an islandora issue than your module. probably the hooks get intervened and we (at core) don't check for Defer derivatives all over the place. Thank

[2020-05-06 13:07] bondjimbond opened #82 "without_dsid is getting stuff with that dsid"
Maybe something to do with our caching tools? But I'm finding a very annoying problem coming up -- I'm trying to regenerate derivatives for a bunch of objects that had failed to get derivatives started, so I'm running the following command:

`drush -u 1 islandora_datastream_crud_fetch_pids --without_dsid=JP2 --pid_file=/home/brandonw/no_jp2.txt --content_model=islandora:newspaperPageCModel`

I kee

[2020-05-06 15:10] mjordan commented on #82
@bondjimbond can you see if you can replicate this behavior without the `--content_model=islandora:newspaperPageCModel` option? To see if it is interfering with the `--without_dsid` option. Also, check the Solr document for the objects that shouldn't be picked up to see if the list of DSIDs is accurate.

[2020-05-06 15:50] bondjimbond commented on #82
haha... I've got too many results if I don't set a content model:

[code]

[2020-05-06 19:44] mjordan commented on #82
Can you check the Solr documents of the objects that should not be retrieved? Fetch_pids queries Solr, so either Solr is out of date/inaccurate, or there is a problem with the query itself.

[2020-05-07 19:01] bondjimbond commented on #82
Interesting... So object [terrace:33447](https://arcabc.ca/islandora/object/terrace:33447) has a JP2 datastream, but here's its Solr document...

[code]

How is it that that datastream isn't getting indexed?

[2020-05-08 13:33] mjordan commented on #82
Sorry, I have no idea in your specific case. My general guess is that somehow, during indexing, JP2 did't get included in the DSID list. You might want to figure out how widespread the missing JP2 DSID is (maybe via a Solr query?) and report that to DGI to see if they can figure out what's going on.

[2020-05-08 13:34] bondjimbond commented on #82
We've been hit hard by bots this week, so I suspect the interruptions might have stopped the index updates from taking place. I'll try regenerating just for that one object and see if Solr recognizes it.

[2020-05-08 13:36] mjordan commented on #82
That sounds like a good idea.

[2020-05-08 13:40] bondjimbond commented on #82
Regenerating on just the one object = success; JP2 added to Solr index. I'm not sure about the mechanics behind it, but I'm glad we sorted out the problem! Thanks for your help.

[2020-05-08 13:40] #82 closed

[2020-05-11 13:49] bondjimbond opened #83 "Do CRUD changes update the index?"
Coming off of #82, where the problem was that the datastream inventory in the Solr index wasn't getting updated after the generate_derivatives command was executed...

I'm in the midst of purging POLICY datastreams from a bunch of objects, and I see that the POLICY datastream is still showing up in the `fedora_datastreams_ms` field, and `RELS_EXT_isManageableByUser_literal_s` still has content.

I

[2020-05-11 14:54] bondjimbond commented on #83
Update: looks like I was just impatient. It went through the whole long list of PIDs, killed the datastream, then went through it again and updated Solr.

[2020-05-11 14:54] #83 closed

[2020-05-11 14:55] bondjimbond commented on #83
This explains why #82 happened while the DDOS attacks were happening -- CRUD was interrupted before it could go back and reindex.

[2020-10-02 17:23] bondjimbond opened #84 "Failure to push datastreams when object has XACML policy"
I'm trying to push a large batch of datastreams. CRUD fails whenever it hits an object with XACML "view" restrictions - even if I include `-u 1` in my Drush command, and user 1 has explicit permissions for the object.

Full error text:

[code]

Not only does the datastream fail to get pushed, but the entire batch is stopped - the command stalls out, and subsequent datastreams in the list are not p

[2020-10-02 18:00] #73 closed

[2020-10-02 18:42] bondjimbond commented on #84
Further investigation: Despite the error reported, the object that causes the Drush failure actually **does** get its new datastream pushed, but it stops the rest of the flow. The MODS gets modified, but it fails to generate the accompanying DC. See screenshot - the number of versions should match:
![Screen Shot 2020-10-02 at 2 41 19 PM](https://user-images.githubusercontent.com/6069170/94958345-6

[2020-10-06 14:44] mjordan commented on #84
@bondjimbond does the object in question have "Enable XACML Restrictions on DSIDs and MIME types" enabled?

[2020-10-06 17:40] bondjimbond commented on #84
No, just viewing.

[2020-10-08 01:46] mjordan commented on #84
To confirm, it's the MODS datastream you are pushing up, correct?

[2020-10-08 13:34] bondjimbond commented on #84
Yep!

[2020-10-13 02:44] mjordan commented on #84
I can't replicate this behavior. Here's my object's policy:

![policy](https://user-images.githubusercontent.com/403918/95809241-2c84f880-0cc3-11eb-97af-0a0963ef63c2.png)

And here is the output when I push a MODS ds with CRUD:

[code]

Can you see anything I am missing in order to replicate the problem?

[2020-10-13 14:11] bondjimbond commented on #84
Weird. This is the POLICY I have for one of the objects:

![Screen Shot 2020-10-13 at 10 06 01 AM](https://user-images.githubusercontent.com/6069170/95871968-4878b080-0d3c-11eb-9ec4-c7acdfbbc78e.png)

CRUD is up to date; I can't fathom why XACML would be a problem in my environment but not yours.

[2020-10-13 14:57] mjordan commented on #84
I'll add some non-admin users/roles and try again.

[2020-10-14 13:52] mjordan commented on #84
I added a non-admin user to the allowed list, pushed, success. I then removed the non-admin user and pushed, also success. I also pushed MODS datastream for other objects in same run of CRUD, also success. If you can think of any other permutations I can try, let me know.

Out of curiosity, if you push a new (i.e. non-existent) datastream up to the objects that have policies, what happens?

Also,

[2020-10-14 13:54] mjordan commented on #84
Scrap that last question, I tried it and got a different error:

[code]

[2020-10-14 14:51] bondjimbond commented on #84
I noticed that the XACML policies do not include user "islandora" in the list of who can view. "islandora" is the Apache user, I believe. Do you think it's possible that this is why it's failing? Except I'm running the drush command as user 1, but perhaps some part of the code is trying to execute as apache?

[2020-10-14 15:07] mjordan commented on #84
Not that I know of, and if it did, wouldn't it fail for me too?

[2020-10-14 15:15] mjordan commented on #84
I'm working on a vagrant box. Can you try to replicate it on one too? If you can, I am not testing the right way.

[2020-12-02 14:40] bondjimbond opened #85 "Documentation: issues with caching"
After much confusion and experimentation, I have discovered that a site that uses a lot of caching (in my case, Cloudflare) can have a lot of problems with the CRUD results.

The biggest issue I've found is that generating derivatives somehow does not update the index if you are doing so on a URI where caching is enabled. That is, if you generate derivatives to create a new datastream, the `fedora

[2020-12-02 16:49] mjordan commented on #85
@bondjimbond thanks for discovering this. Would you mind opening a PR to document this behavior?

[2020-12-04 15:24] bondjimbond commented on #53
A case for this functionality has come up for me, as old versions of large derivative datastreams are cluttering up the repository. In my use case, I would like to delete *all but the current version* from a list of PIDs.

[2020-12-04 15:40] #85 closed

[2020-12-04 15:41] mjordan commented on #53
@bondjimbond if you can test @patdunlavey's PR I'll merge it.

[2020-12-07 19:36] mjordan commented on #53
Resolved with 4feafbf17d4c8bf576254179a94e8c15e331fb06.

[2020-12-07 19:36] #53 closed

[2020-12-07 23:45] bondjimbond opened #88 "Potential problem with datastream versions"
Fedora crashed on me when I ran a batch datastream version delete operation. Only one of them completed. I wonder whether it crashed because it hit a datastream that did not have a version 1.

Will test tomorrow

[2020-12-08 00:01] mjordan commented on #88
During my testing earlier today I used a datastream version index that didn't exist (not 0, but 3,4) with no consequences. This was on a vagrant however.

[2020-12-08 01:36] mjordan commented on #88
I just tested deleting a datastream version that didn't exist with no ill consequences, CRUD is just silent about not deleting it. Also, I confirmed that Islandora doesn't let you delete the last version of a datastream. If you attempt to do so, you get the following message:

[code]

If Islandora won't let you delete version 0 of a datastream, we should not allow users to indicate that version in

[2020-12-08 14:46] bondjimbond commented on #88
Islandora lets you delete version zero, so long as there are other versions in there to become version zero. Interesting that the version deleting function requires you to preserve a copy. I think it's fine as-is, but should be documented in the README.

Hmm. I wonder what caused the crash... Too many commands, perhaps, or too many errors? I was working with a file of something like 25,896 objects

[2020-12-08 14:50] bondjimbond commented on #88
Now, object unbc:57654 is the first to show up in `nohup.out`, but it's number 15,117 in my PID list. So it looks like it went through thousands of objects before it actually hit one with versions to delete.

I guess I need to improve my query for fetching the PIDs. But I also think it would be good to have a way to slow down the activity somewhat... My CPU was overloaded by this process.

[2020-12-08 15:22] mjordan commented on #88
At that number, I suspect that Java ran out of memory or something. It's not documented on the README, but the `pause` option lets you define a wait time in seconds between processing each PID. It is documented in the help for the drush commands:

https://github.com/SFULibrary/islandora_datastream_crud/blob/7.x/islandora_datastream_crud.drush.inc#L159

But processing 15,117 objects and adding a `p

[2020-12-08 15:54] bondjimbond commented on #88
I don't mind a few hours' extra execution time if it stops my system from crashing... Would it help with the memory issue, though?

[2020-12-08 16:21] mjordan commented on #88
My limited understanding is that slowing things down allows Java's garbage collection to keep pace with things. But, I am certainly not an expert on Java administration.

[2020-12-08 16:27] bondjimbond commented on #88
I guess I can afford to run the risk of another crash by testing that out.

I note that the Solr documents for the objects with deleted versions was not updated, likely due to the crashing. So, a question -- how does CRUD determine whether the versions exist? If it's from the Solr document, that's a problem for me... if it's another way, I'm OK, I guess.

Basically I'm concerned that if run the ve

[2020-12-08 16:40] mjordan commented on #88
https://github.com/SFULibrary/islandora_datastream_crud/blob/8347563b649abafd427a0354ed2f9f7866a8644d/includes/utilities.inc#L246 and https://github.com/SFULibrary/islandora_datastream_crud/blob/8347563b649abafd427a0354ed2f9f7866a8644d/includes/utilities.inc#L264 show that it doesn't use Solr to get DS versions, it pulls them from the object itself.

[2020-12-08 16:47] bondjimbond commented on #88
Nice. OK, I actually don't know whether my CRUD command caused the crash now that I look at the results. Because I ran the following query:

`$ drush -u 1 islandora_datastream_crud_fetch_pids --pid_file=/home/brandonw/unbc_version_delete.txt --solr_query="fedora_datastreams_mt:JP2 AND PID_namespace_ms:unbc AND fedora_datastream_version_JP2_ID_ms:JP2.1"`

And only GOT two results. This means that t

[2020-12-08 16:54] bondjimbond commented on #88
(Of course I hit "enter" before I remembered to add the "pause" option... dang it)

[2020-12-08 18:00] bondjimbond commented on #88
OK! I ran the command for 2,924 objects and it crashed out at 58. I added the "pause=1" option, and it went through easily!

Solr still not updated, though. I will give the system a few hours to see if it catches up.

[2020-12-08 20:07] mjordan commented on #88
Good to hear. I'll document `pause` in the README.

[2020-12-08 20:16] bondjimbond commented on #88
Also: there is absolutely no way that `--pause=1` creates a one-second pause. With that option set I am still blowing through hundreds of items in a minute. It slows it down for sure, but it's not a second.

[2020-12-08 20:47] mjordan commented on #88
CRUD [implements](https://github.com/SFULibrary/islandora_datastream_crud/blob/8347563b649abafd427a0354ed2f9f7866a8644d/islandora_datastream_crud.drush.inc#L554) PHP's [sleep](https://www.php.net/manual/en/function.sleep.php) function, nothing special.

[2020-12-09 14:45] bondjimbond commented on #88
update the following day: tested a couple of items and they did end up with their changes in Solr, so it's just very slow.

I'll made a documentation PR..

[2020-12-10 16:35] bondjimbond commented on #88
Some weirdness: I ran a very large version delete batch, and while it finished OK, I got some strange results.

[code]

There is no object `au:90794-0002`. There is no `au:90794` either. And neither of those is in the PID file that this batch is referencing.

There are 50 of these lines referencing weird PIDs that both do not exist and were not listed in the file.

Any idea how that possibly could

[2020-12-10 17:51] mjordan commented on #88
Did those PIDs ever exist? If it was a case where an object was deleted but Solr was not updated for some reason, the errant PIDs should be showing up in the fetch_pids command (which you say they do not). I'm just curious about the question of whether the PIDs ever existed.

[2020-12-10 18:15] bondjimbond commented on #88
I really can't say whether the root PIDs ever existed for certain, but I am extremely confident that a pid like `au:90794-0002` never existed.

[2020-12-10 18:20] mjordan commented on #88
The only thing I will speculate is happening is there is a bug somewhere (possibly but who knows) in CRUD that fabricated a PID with a hyphen like that. Let me do an audit to see where `-` is used in the code, on the assumption that it is being injected into an existing or unintentionally fabricated but validly formatted PID somehow.

[2020-12-10 18:32] bondjimbond opened #91 "Respect namespace restrictions"
If running CRUD functions in a particular URI, I have found that that site's Solr namespace restrictions are not respected. e.g. if I run the query `drush -u 1 islandora_datastream_crud_fetch_pids --pid_file=/home/brandonw/bcrdh_version_delete.txt --solr_query="fedora_datastreams_mt:JP2 AND fedora_datastream_version_JP2_ID_ms:JP2.1" --uri=https://bcrdh.ca`, what I would hope to get is a list of PI

[2020-12-10 18:39] mjordan commented on #91
This sounds reasonable and an excellent feature to have. I have little to no (closer to no) experience with namespace restrictions but I can give it a first stab.

[2021-05-19 14:50] bondjimbond commented on #91
I just realized that this is still a problem. I might try fixing it myself if I get a chance, but not sure if I'll do it right.

[2021-05-25 15:20] bondjimbond commented on #81
Hi! Hopping onto this old issue because I'm running into the same problem.

I do indeed have "defer derivative generation during ingest turned on, and I am also getting all derivatives instead of the ones I selected.

My command and output:

[code]

[2021-05-27 03:11] mjordan commented on #81
@bondjimbond I don't know how to solve this issue, other than do what @DiegoPino did and use `--skip_dsids`, e.g., `--skip_dsids=OCR,TECHMD`. This is obviously not optional since your skip list would need to be exhaustive.

That said, maybe a code-based solution is to get a list of all DSIDs in the repository (maybe via Solr?), take the DSIDs named in `--dest_dsids` and only create derivatives for

[2021-05-27 14:24] mjordan commented on #91
Merged with a3de8abc41e71e31fdc2ba007551c2cbbc406cc7.

[2021-05-27 14:24] #91 closed

[2022-04-22 16:34] bondjimbond opened #93 "Underscore problem unsolved on Mac"
Under "Dealing with underscores" in the README, the `filename_separator` parameter theoretically solves the "datastreams with underscores" problem, but not so for users working in MacOS.

Using `filename_separator` requires that the PID in the filename use the colon character,

[2022-04-22 18:14] bondjimbond commented on #93
Actually, it looks like you can't safe filenames with colons in them, either.

What we really need is to be able to set a value like `pid_separator` along side `filename_separator`, so that we can do this right.